* {
    box-sizing: border-box;
  }
  html,
  body,
  main {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  body {
    min-width: 23em;
    min-height: 15em;
  }

.box {
    margin-top: 5%;
    position: absolute;
    width: 91%;
    margin-left: 3%;
    padding: 3%;
    background: #fff;
}

#compyNumber {
    margin-left: 5px;
}